/* black #1E202C */

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FAFAFA;

  margin: 0;
  width: 100%;
}

a,
a:visited {
  text-decoration: none;
}


/**********HEADER NAVBAR***********/
.header {
  background-color: #ffffff;
  width: 100%;
  height: 96px;

  margin: 0;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1424px;
  height: 96px;

  margin: auto;
}

.nav-list {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  width: 1424px;

  margin: auto;
  padding: 0%;
}

.brand,
.brand a:visited {
  color: red;
  font-family: 'Dongle';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;

  margin-right: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 24px;
  height: 24px;

  background-color: #E97534;

  margin: 0;
}

.nav-item {
  font-size: 18px;
  color: #1E202C;

  margin-right: 50px;
}

.nav-item a:visited {
  font-size: 18px;
  color: black;
}

.nav-item a:hover {
  font-size: 18px;
  color: #E97534;
  text-decoration: underline;
}

.download-button {
  width: 176px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
}

.download-button-center {
  width: 176px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 40px auto;
}

.button-box {
  width: 176px;
  height: 40px;

  background-color: #CC7060;
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
}

.button-text,
.download-button a:visited,
.download-button-center a:visited {
  font-family: 'Open Sans', sans-serif;
  color: #FAFAFA;

  font-size: 16px;
  font-weight: 700;
}

.download-button:hover, .download-button-center:hover {
  transform: translateY(-3px);
  filter: drop-shadow(0 2px 3px #1e202c53);
}

/**********HEADER NAVBAR END***********/



/**********LANDING SECTION***********/

.landing-section {
  margin-top: 96px;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 940px;

  margin: auto;
}

.landing-texts {
  color: #1E202C;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 940px;

  margin: auto;
}

.landing-texts h1 {
  font-family: 'Dongle', sans-serif;
  font-size: 96px;
  margin: 0 0 10px 0;

  line-height: 75px;
}

.landing-texts p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;

  margin: 0;

  line-height: 24px;

  width: 508px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.landing-img {
  width: 940px;
  height: 525px;


  margin: 60px auto 240px auto;
}

/**********LANDING SECTION END***********/


/**********LANDING FEATURES SECTION***********/

.features-section {
  width: 1160px;
  margin: auto;

  display: flex;
  flex-direction: column;
}

.features-container {
  width: 1160px;
  height: 525px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 120px;
}

.features-texts {
  width: 340px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  margin-top: 20px;
}

.feature-title-box {
  height: 67px;
  background-color: #E97534;
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.features-texts h2 {
  font-family: 'Dongle', sans-serif;
  font-size: 64px;
  margin: 18px 20px auto 20px;

  line-height: 40px;

  color: #FAFAFA;
}

.features-texts h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;

  margin: 24px 0 0 0;
  width: 340px;

  line-height: 24px;
  color: #1E202C;
}

.features-texts p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;

  margin: 24px 0 0 0;

  line-height: 24px;

  display: flex;
  flex-wrap: wrap;
  color: #1E202C;
}

.features-img {
  width: 700px;
  height: 525px;

  margin: 0;
}

/**********LANDING FEATURES SECTION END***********/
.summary-section {
  width: 1160px;
  margin: auto;

  display: flex;
  flex-direction: column;
}

.summary-container {
  width: 1160px;
  height: 525px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.summary-texts {
  width: 640px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  margin-top: 20px;
}

.summary-texts h3 {
  font-family: 'Dongle', sans-serif;
  font-size: 46px;
  font-weight: 700;

  line-height: 30px;
  color: #E97534;
}

.summary-texts p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;

  margin: 24px 0 0 0;

  line-height: 24px;

  display: flex;
  flex-wrap: wrap;
  color: #1E202C;
}

.summary-img {
  width: 460px;
  height: 345px;

  margin: 0;
}

/**********LANDING SUMMARY SECTION END***********/



/**************APP INTRO SECTION******************/

.app-intro-section {
  margin:auto;
}

.app-intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1160px;

  margin: auto;
}

.app-intro-texts {
  color: #1E202C;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 940px;

  margin: auto;
}

.app-intro-texts h1 {
  font-family: 'Dongle', sans-serif;
  font-size: 96px;
  margin: 0 0 10px 0;

  line-height: 75px;
}

.app-intro-texts p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;

  margin: 0;

  line-height: 24px;

  width: 640px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.app-intro-dl-cont {
  width: 1160px;
  height: 680px;

  background-color: #ffffff;

  margin: 60px auto 130px auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-intro-img {
  width: 1160px;
  height: 680px;

  position: absolute;
  z-index: -1;
}

.app-intro-brand{
  width: 400px;
  height: 400px;

  margin: 250px auto 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
}

.app-intro-logo{
  width: 130px;
  height: 130px;
  border-radius: 16px;

  background-color: #E97534;
}

.app-intro-brand h1 {
  font-family: 'Dongle', sans-serif;
  font-size: 96px;
  margin: 40px 0 0 0;

  line-height: 50px;

  color: #1E202C;
}

.app-intro-brand p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;

  color: #1E202C;

  margin: 20px 0 0 0;

  line-height: 24px;

  width: 508px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/**************APP INTRO SECTION END******************/


/*********FOOTER******/

.footer_social-container {
  padding: 0;
}

.social_container {
  width: 490px;
  margin: 0 auto 0 0;
  padding: 25px 0;
}

.info_section .social-box {
  margin: 0 auto 0 0;
  width: 490px;
  display: flex;
  justify-content: flex-start;
}

.info_section .social-box img {
  width: 24px;
  margin-right: 5px;

  filter: invert(1);
}

.footer {
  width: 1160px;
  display: flex;
  flex-direction: column;

  margin: auto;
}

.footer-brand {
  display: flex;
  align-items: center;
  width: 200px;
  height: 32px;
  padding: 0;
  margin: 0;
}

.footer-brand-img-cont {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 7px;

  border-radius: 5px;
  background-color: #CC7060;
}

.footer-brand span {
  font-size: 32px;
  font-family: 'Dongle', sans-serif;
  color: #E04651;

  padding-top: 5px;
}

.footer-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;

  width: 360px;

  margin: 20px 0;
}

/* end info section */

/* subfooter section*/

.subfooter {
  width: 1160px;
  display: flex;

  margin: auto;
}

.subfooter-container {
  display: flex;
  width: 490px;

  align-items: flex-start;
  justify-content: flex-start;
  margin-right: auto;
}

.footer_section {
  background-color: #ffffff;
  padding: 20px 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

}

.footer_section p {
  color: black;
  margin: 0 0 0 40px;
  text-align: center;
}

.footer_section a {
  color: black;
}



/* end footer section*/



/*****DOWNLOAD PAGE*********/
.download_section {
  width: 940px;
  display: flex;
  flex-direction: column;

  margin: auto;
  padding: 40px 0;
}

.download_section h1 {
  font-family: 'Dongle', sans-serif;
  font-size: 96px;
  margin: 0;

  line-height: 75px;
}

.download_section h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;

  margin: 0;

  line-height: 22px;
}

.download_section h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;

  margin: 0;
}

.download_section p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.app-intro p,
.apk-info p {
  font-size: 16px;
}


/******/

.app-intro {
  width: 940px;
  height: 360px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 25px;
  background-color: #ffffff;
}

.app-intro-row {
  display: flex;
  margin: 40px 0 50px 0;
}

.app-logo {
  width: 124px;
  height: 124px;
  margin-right: 20px;

  background-color: #E04651;
  border-radius: 25px;
}

.app-intro-column {
  display: flex;
  flex-direction: column;
}

.app-intro-box {
  width: 860px;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

/************/

.apk-info {
  width: 940px;
  height: 360px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 25px;
  background-color: #ffffff;
}

.apk-info-box {
  width: 860px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: auto;
}


.apk-row,
.info-detail {
  display: flex;
}

.apk-row {
  height: 240px;
  margin: 0;

  align-items: flex-end;
}

.apk-info-table {
  width: 550px;
  height: 220px;

  padding: 0 40px 0 40px;
  margin: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  list-style: none;
}

.apk-info-table li {
  padding: 30px 0 0 0;
}

.apk-info-icons {
  width: 24px;
  height: 24px;

  background-color: #E04651;
  border-radius: 5px;
  margin-right: 10px;
}

.apk-info a {
  align-self: flex-end;
}



/************/

.apk-version {
  width: 940px;
  height: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 25px;
  background-color: #ffffff;
}

.apk-version-box {
  width: 860px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 40px auto auto auto;
}

.version-row {
  display: flex;
  align-items: flex-end;

  margin-top: 20px;
}

.version-item {
  display: flex;
  flex-direction: column;
}

.version-number {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;

  margin: 0;
  padding: 0;
}

.version-info {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  margin: 0;
  padding: 0;

  font-size: 12px;
  font-weight: 400;
  height: 15px;
}

.version-info-text2 {
  color: #E04651;
  margin-left: 20px;
}

.download-icon {
  width: 24px;
  height: 24px;
  margin-left: auto;

  background-color: #E04651;
  border-radius: 5px;
}

/****************DOWNLOAD PAGE END****************/




/****************ABOUT US PAGE****************/

.au-main-section {
  margin:auto;
}

.au-main-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1160px;
  height: 650px;

  margin: 50px auto auto auto;
}

.au-main-section-texts {
  color: #1E202C;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 440px;

  margin: 150px auto auto auto;
}

.au-main-section-texts h1 {
  font-family: 'Dongle', sans-serif;
  font-size: 96px;
  margin: 0 0 10px 0;

  line-height: 75px;
}

.au-main-section-texts p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;

  margin: 0;

  line-height: 24px;



  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.au-main-section-img {
  width: 1160px;

  position: absolute;
  z-index: -1;
}

.app-intro-brand{
  width: 400px;
  height: 400px;

  margin: 250px auto 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
}

.app-intro-logo{
  width: 130px;
  height: 130px;
  border-radius: 16px;

  background-color: #E97534;
}

.app-intro-brand h1 {
  font-family: 'Dongle', sans-serif;
  font-size: 96px;
  margin: 40px 0 0 0;

  line-height: 50px;

  color: #1E202C;
}

.app-intro-brand p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;

  color: #1E202C;

  margin: 20px 0 0 0;

  line-height: 24px;

  width: 508px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/****************ABOUT US PAGE END****************/