:root {
    /*COLOR PALETTE*/
  --white: #FFF;
  --ash-white: #FAFAFA;
  --orange: #E97534;
  --light-orange: #F0945C;
  --dark-gray: #1E202C;
  --indigo: #4E4B66;
  --logo-white: #E6E6E6;
  --logo-yellow: #EACA5E;
  --brown: #5F4D42;
  --cream: #F3E8D1;

}

@media (max-width: 1480px) {

    /**********HEADER NAVBAR***********/
    html {
        /*overflow-x: hidden;*/
    }

    .header {
        width: 100%;
        height: 96px;
        margin: auto;
    }

    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 1200px;
        height: 96px;

        margin: auto;
    }

    /**********ABOUR US PAGE***********/
    .au-research-img{
        width: 1200px;
        height: auto;
    }
    
    .au-proc-section{
        width:1200px;
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
        margin: 100px auto;
    }

}

@media (max-width: 1240px) {

    /**********HEADER NAVBAR***********/
    .nav-container {
        width: 940px;
    }

    /**********FEATURES SECTION***********/

    .features-section {
        width: 990px;
        margin: auto;

        display: flex;
        flex-direction: column;
    }

    .features-container {
        width: 990px;
        height: 525px;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        margin-bottom: 120px;
    }

    .features-img {
        width: 620px;
        height: auto;

        margin: 0;
    }

    .features-texts {
        width: 340px;
        margin-top: 50px;
    }

    /**********SUMMARY SECTION***********/
    .summary-section {
        width: 990px;
        margin: auto;
    }

    .summary-container {
        width: 990px;
        height: 440px;
    }

    .summary-texts {
        width: 480px;
        margin-top: 50px;
    }

    .summary-img {
        width: 390px;
        height: auto;
    }

    /**************APP INTRO SECTION******************/

    .app-intro-section {
        margin: auto;
    }

    .app-intro-container {
        width: 990px;
        margin: auto;
    }

    .app-intro-texts {
        width: 940px;
        margin: auto;
    }

    .app-intro-dl-cont {
        width: 990px;
        height: 680px;

        margin: 60px auto 130px auto;
    }

    .app-intro-img {
        width: 990px;
        height: auto;
        object-fit: cover;
    }

    .app-intro-brand {
        width: 400px;
        height: 400px;

        margin: 150px auto 0 auto;
    }

    /*********FOOTER******/

    .footer,
    .subfooter {
        width: 990px;
    }

    /****************PRIVACY POLICY PAGE****************/

    .priv-main{
        width: 990px;
      }

    .line-separator-side{
        width:990px;
    }

    /*****************ABOUT PETCHA PAGE******************/
    .ap-gameplay-section-1,
    .ap-gameplay-section-2,
    .ap-gameplay-section-3{
        width: 990px;
        height: 520px;
    }

    .ap-gameplay-texts{
        width: 300px;
      }

      .ap-gameplay-video{
        margin-right: 75px;
        width:476px;
        height: 268px;
      }

    /**********ABOUR US PAGE***********/
    .au-main-section-container {
        width: 990px;
        height: 650px;
      
        margin: 50px auto auto auto;
      }

    .au-main-section-img-1,
    .au-main-section-img-2{
        width: 990px;
    }

    .au-main-section-img-1{
        height: 647px;
        object-fit: cover;
    }
    
    .au-proc-section{
        width:990px;      
        margin: 100px auto;
    }

    .au-proc{
        width: 990px;
        height: 1394px;
    }

    .au-proc-row{
        width: 990px;
        height: 436px;
    }

    .au-proc-cat{
        width: 380px;
        height: 436px;
    }

    .au-proc-text, .au-proc-bg{
        width: 610px;
        height: 414px;
    }

    .au-proc-text p{
        font-family: 'Dongle', sans-serif;
        font-size: 40px;
        line-height: 34px;
        text-align: center;
      }

    .au-proc-p1{
        width: 435px;
        height: 205px;
      
        margin: 0;
    }
      
      .au-proc-p2{
        width: 478px;
        height: 220px;
      
        padding-top: 50px;
    }
      
    .au-proc-p3{
        width: 488px;
        height: 220px;
      
        padding-bottom: 50px;
    }

    .au-research-img{
        width: 990px;
        height: auto;
    }

    .au-research-section {
        width: 990px;
        margin: 0 auto 100px auto;
      }

    #au-research-texts{
        width: 860px;
        height: 215px;
      
        overflow: hidden;
    }

    .au-pangcat-section{     
        width: 990px;
        margin: 75px auto 100px auto;
      }

    .au-pangcat-section-texts {
        width: 860px;
        margin: 150px auto 0 auto;
      }

    .au-team-section{
        width: 990px;
        margin: 50px auto 100px auto;
      }
    
    .au-team-carousel-gallery{
        width: 990px;
        height: auto;
        margin-top: 50px;
      
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .au-team-carousel-cont{
        width: 700px;
        margin: auto;
      
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        overflow-x: visible;
      }

      .au-team-carousel-cont .au-team-carousel-card:nth-of-type(1){
        margin: 0 25px 25px 0;
      }

      .au-team-carousel-cont .au-team-carousel-card:nth-of-type(2){
        margin: 0 25px 25px 25px;
      }

      .au-team-carousel-cont .au-team-carousel-card:nth-of-type(3){
        margin: 0 0 25px 25px;
      }

      .au-team-carousel-cont .au-team-carousel-card:nth-of-type(4){
        margin: 25px 25px 0 auto;
      }

      .au-team-carousel-cont .au-team-carousel-card:nth-of-type(5){
        margin: 25px auto 0 25px;
      }
    
    
}

@media (max-width: 1080px) {

    /**********HEADER NAVBAR***********/
    .nav-container {
        width: 860px;
    }

    /**********LANDING SECTION***********/
    .landing-container,
    .landing-texts {
        width: 820px;
        margin: auto;
    }

    .landing-texts h1 {
        font-size: 96px;
        margin: 0 0 20px 0;
        text-align: center;
        line-height: 60px;
    }

    .landing-img {
        width: 860px;
        height: auto;
        margin: 60px auto 50px auto;
    }

    /**********FEATURES SECTION***********/

    .features-section {
        width: 860px;
        margin: auto;

        display: flex;
        flex-direction: column;
    }

    .features-container {
        width: 860px;
        height: 525px;
        margin-bottom: 50px;
    }

    .features-img {
        width: 540px;
        height: auto;
        margin: 0;
    }

    .features-texts {
        width: 300px;
        margin-top: 30px;
    }

    .features-texts h2 {
        font-size: 56px;
        margin: 18px 20px auto 20px;
        line-height: 40px;
    }

    /**********SUMMARY SECTION***********/
    .summary-section {
        width: 860px;
        margin: auto;
    }

    .summary-container {
        width: 860px;
        height: 440px;
    }

    .summary-texts {
        width: 420px;
        margin-top: 50px;
    }

    .summary-img {
        width: 380px;
        height: auto;
    }

    /**************APP INTRO SECTION******************/

    .app-intro-container {
        width: 860px;
        margin: auto;
    }

    .app-intro-texts {
        width: 820px;
        margin: auto;
    }

    .app-intro-dl-cont {
        width: 860px;
        height: 540px;
        margin: 60px auto 130px auto;
    }

    .app-intro-img {
        width: 860px;
        height: auto;
        object-fit: cover;
    }

    .app-intro-brand {
        width: 400px;
        height: 400px;

        margin: 75px auto 0 auto;
    }

    /*********FOOTER******/

    .footer,
    .subfooter {
        width: 860px;
    }

    /****************PRIVACY POLICY PAGE****************/

    .priv-main{
        width: 860px;
      }

    .line-separator-side{
        width:860px;
    }

    .priv-texts p{
        width:820px;
    }

    /*****************ABOUT PETCHA PAGE******************/
    .ap-banner-section {
        margin-top: 96px;
      }

    .ap-banner-container {    
        width: 860px;
      }

      .ap-banner-texts {
        color: var(--dark-gray);
        flex-wrap: wrap;
      
        width: 860px;
      }

    .ap-banner-media-bg{
        width: 860px;
        height: 480px;
        margin: 30px auto 100px auto;
      }
      
    .ap-banner-media-bg-img{
        width: 860px;
        height: auto;
        position: absolute;
      
        margin: 0;
      }
      
    .ap-banner-media-trailer{
        width: 462px;
        height: 260px;
      
        z-index: 1;
      }

    .ap-gameplay-section-1,
    .ap-gameplay-section-2,
    .ap-gameplay-section-3{
        width: 860px;
        height: 520px;
    }

    .ap-gameplay-texts{
        width: 300px;
        margin-left: 50px;
      }

      .ap-gameplay-video{
        margin-right: 50px;
        width:400px;
        height: 225px;
      }


    /**********ABOUR US PAGE***********/
    .au-main-section-container {
        width: 860px;
        height: 482px;

        justify-content: flex-start;
      
        margin: 50px auto auto auto;
      }

    .au-main-section-img-1,
    .au-main-section-img-2{
        width: 860px;
    }

    .au-main-section-img-1{
        height: 647px;
        object-fit: cover;
        overflow: hidden;
    }

    .au-main-section-texts {
        width: 360px;
        margin: 160px auto auto auto;
      }

      .au-main-section-texts h1 {
        font-family: 'Dongle', sans-serif;
        font-size: 96px;
        margin: 0 0 0 0;
      
        line-height: 60px;
      }

      .au-main-section-texts p br{
        display: none;
      }
      

    .au-proc-section{
        width:860px;      
        margin: 100px auto;
    }

    .au-proc{
        width: 860px;
        height: 1211px;
    }

    .au-proc-row{
        width: 860px;
        height: 379px;
    }

    .au-proc-cat{
        width: 330px;
        height: 379px;
    }

    .au-proc-text, .au-proc-bg{
        width: 530px;
        height: 360px;
    }

    .au-proc-text p{
        font-family: 'Dongle', sans-serif;
        font-size: 36px;
        line-height: 30px;
        text-align: center;
      }

    .au-proc-p1{
        width: 378px;
        height: 175px;
    }
      
      .au-proc-p2{
        width: 415px;
        height: 200px;
      
        padding-top: 50px;
    }
      
    .au-proc-p3{
        width: 438px;
        height: 185px;
      
        padding-bottom: 50px;
    }

    .au-research-img{
        width: 860px;
        height: auto;
    }

    .au-research-section {
        width: 860px;
        margin: 0 auto 100px auto;
      }

    #au-research-texts{
        width: 760px;
        height: 230px;
      
        overflow: hidden;
    }

    .au-pangcat-section{     
        width: 860px;
        margin: 75px auto 100px auto;
      }

    .au-pangcat-section-texts {
        width: 760px;
        margin: 150px auto 0 auto;
      }

    .au-pangcat-section-texts h2 {
        font-family: 'Dongle', sans-serif;
        font-size: 64px;
        font-weight: 700;
        text-align: center;
        width: 500px;
        
        margin: 0 0 10px 0;
      
        line-height: 40px;
    }

    .au-team-section{
        width: 860px;
        margin: 50px auto 100px auto;
      }
    
    .au-team-carousel-gallery{
        width: 860px;
        height: auto;
        margin-top: 50px;
      
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .au-team-carousel-cont{
        width: 700px;
        margin: auto;
      
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        overflow-x: visible;
      }

      .au-team-carousel-cont .au-team-carousel-card:nth-of-type(1){
        margin: 0 25px 25px 0;
      }

      .au-team-carousel-cont .au-team-carousel-card:nth-of-type(2){
        margin: 0 25px 25px 25px;
      }

      .au-team-carousel-cont .au-team-carousel-card:nth-of-type(3){
        margin: 0 0 25px 25px;
      }

      .au-team-carousel-cont .au-team-carousel-card:nth-of-type(4){
        margin: 25px 25px 0 auto;
      }

      .au-team-carousel-cont .au-team-carousel-card:nth-of-type(5){
        margin: 25px auto 0 25px;
      }

}

@media (max-width: 960px) {

    /**********HEADER NAVBAR***********/
    .header,
    .nav-container {
        width: 100%;
        height: 200px;
    }

    .nav-list {
        width: 700px;
        flex-wrap: wrap;
    }

    .brand {
        width: 600px;
        margin: 0 auto;
    }

    .nav-item {
        margin: 30px 50px;
    }

    .nav-item:nth-of-type(3) {
        padding-left: 40px;
    }

    .download-button {
        width: 176px;
        height: 40px;

        margin: auto;
    }

    /**********LANDING SECTION***********/
    .landing-container,
    .landing-texts {
        width: 700px;
        margin: auto;
    }

    .landing-texts h1 {
        font-size: 96px;
        margin: 0 0 20px 0;
        text-align: center;
        line-height: 60px;
    }

    .landing-img {
        width: 700px;
        height: auto;
        margin: 60px auto 50px auto;
    }

    /**********FEATURES SECTION***********/

    .features-section {
        width: 700px;
        margin: auto;

        display: flex;
        flex-direction: column;
    }

    .features-container {
        width: 700px;
        height: 650px;
        margin-bottom: 175px;

        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .features-img {
        width: 460px;
        height: auto;
        margin: 0;
    }

    .features-texts:nth-last-of-type(1),
    .features-texts:nth-last-of-type(3) {
        order: 1;
    }

    .features-texts {
        width: 700px;
        margin: 20px 0 0 0;
        align-items: center;
        text-align: center;
    }

    .features-texts h2 {
        font-size: 56px;
        margin: 18px 20px auto 20px;
        line-height: 40px;
    }

    /**********SUMMARY SECTION***********/
    .summary-section {
        width: 700px;
        margin: auto auto 150px auto;
    }

    .summary-container {
        width: 700px;
        height: 440px;

        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .summary-texts {
        width: 700px;
        margin-top: 0;
        align-items: center;
        text-align: center;

        order: 1;
    }

    .summary-img {
        width: 380px;
        height: auto;
    }

    /**************APP INTRO SECTION******************/

    .app-intro-container {
        width: 700px;
        margin: auto;
    }

    .app-intro-texts {
        width: 700px;
        margin: auto;

        text-align: center;
    }

    .app-intro-texts h1 {
        font-size: 96px;
        margin: 0 0 20px 0;
        text-align: center;
        line-height: 60px;
    }

    .app-intro-dl-cont {
        width: 700px;
        height: 540px;
        margin: 60px auto 130px auto;
    }

    .app-intro-img {
        width: 700px;
        height: 540px;
        border-radius: 16px;
        object-fit: cover;
    }

    .app-intro-brand {
        width: 400px;
        height: 400px;

        margin: 75px auto 0 auto;
    }

    /*********FOOTER******/

    .footer,
    .subfooter {
        width: 700px;
    }

    /******************DOWNLOAD PAGE******************/
    .download_section {
        width: 700px;
    }

    .app-intro {
        width: 700px;
        height: 360px;
    }

    .app-intro-box,
    .apk-info-box,
    .apk-version-box {
        width: 600px;
    }

    .app-intro p {
        width: 480px;
    }

    .apk-info-box {
        height: 360px;
    }

    .apk-info {
        width: 700px;
        height: 480px;
        margin: 20px auto;
        flex-wrap: wrap;
    }

    .apk-row {
        height: 480px;
    }

    .apk-info-table {
        width: 360px;
        height: 360px;

        padding: 0 40px 0 40px;
        margin: 0;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        list-style: none;
    }

    .apk-version {
        width: 700px;
    }

    /****************PRIVACY POLICY PAGE****************/

    .priv-main{
        width: 640px;
      }

    .line-separator-side{
        width:640px;
    }

    .priv-texts p{
        width:600px;
    }

    /*****************ABOUT PETCHA PAGE******************/
    .ap-banner-section {
        margin-top: 75px;
      }

    .ap-banner-container {    
        width: 700px;
      }

      .ap-banner-texts {
        color: var(--dark-gray);
        flex-wrap: wrap;
      
        width: 700px;
      }

      .ap-banner-texts p {
        font-size: 14px;
      
        line-height: 20px;
      
        width: 660px;
      
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }

    .ap-banner-media-bg{
        width: 700px;
        height: 500px;
        margin: 0 auto 75px auto;
      }
      
    .ap-banner-media-bg-img{
        width: 700px;
        height: 480px;
        position: absolute;

        object-fit: cover;
      
        margin: 0;

        
        -webkit-mask: linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 7%,
        rgba(255, 255, 255, 1) 93%,
        rgba(255, 255, 255, 0) 100%
        );
      }
     
    /*
    .ap-banner-media-trailer{
        width: 356px;
        height: 200px;
      
        z-index: 1;
      }*/

    .ap-gameplay-section-1,
    .ap-gameplay-section-2,
    .ap-gameplay-section-3{
        width: 700px;
        height: 550px;

        margin: 50px auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*
    .ap-gameplay-section-1 :first-child,
    .ap-gameplay-section-2 :first-child,
    .ap-gameplay-section-3 :first-child{
        order: calc(2);
    }*/

    .ap-gameplay-texts{
        width: 600px;
        margin: 50px auto 0 auto;

        text-align: center;
        align-items: center;
      }

      .ap-gameplay-video{
        margin: 30px auto 50px auto;
        width:400px;
        height: 225px;
      }

}

@media (max-width: 720px) {

    /**********HEADER NAVBAR***********/
    .header {
        width: 100%;
        height: 200px;
    }

    .nav-container {
        width: 460px;
    }

    .nav-list {
        width: 420px;
        flex-wrap: wrap;
    }

    .brand {
        width: 460px;
        margin: 0 auto;
    }

    .nav-item {
        margin: 30px 10px;
    }

    .nav-item:nth-of-type(3) {
        padding-left: 30px;
    }

    .download-button {
        width: 176px;
        height: 40px;

        margin: auto;
    }

    /**********LANDING SECTION***********/
    .landing-container,
    .landing-texts {
        width: 460px;
        margin: auto;
    }

    .landing-texts h1 {
        font-size: 56px;
        margin: 0 0 20px 0;
        text-align: center;
        line-height: 40px;
    }

    .landing-texts p {
        font-size: 14px;
        line-height: 20px;
        width: 360px;
    }

    .landing-img {
        width: 460px;
        height: auto;
        margin: 60px auto 50px auto;
    }

    /**********FEATURES SECTION***********/

    .features-section {
        width: 460px;
        margin: auto;

        display: flex;
        flex-direction: column;
    }

    .features-container {
        width: 460px;
        height: 540px;
        margin-bottom: 175px;

        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .features-img {
        width: 360px;
        height: auto;
        margin: 0;
    }

    .features-texts:nth-last-of-type(1),
    .features-texts:nth-last-of-type(3) {
        order: 1;
    }

    .features-texts {
        width: 420px;
        margin: 10px 0 0 0;
        align-items: center;
        text-align: center;
    }

    .features-texts h2 {
        font-size: 48px;
        margin: 18px 20px auto 20px;
        line-height: 40px;
    }

    .features-texts h3 {
        font-size: 18px;
        margin: 24px 0 0 0;
    }

    .features-texts p {
        font-size: 14px;
        margin: 24px 0 0 0;
        line-height: 20px;
    }

    /**********SUMMARY SECTION***********/
    .summary-section {
        width: 460px;
        margin: auto auto 175px auto;
    }

    .summary-container {
        width: 460px;
        height: 480px;

        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .summary-texts {
        width: 400px;
        margin-top: 0;
        align-items: center;
        text-align: center;
        flex-wrap: nowrap;

        order: 1;
    }

    .summary-texts h3 {
        font-size: 36px;
        line-height: 24px;
    }

    .summary-texts p {
        font-size: 14px;
        margin: 24px 0 0 0;
        line-height: 20px;
        flex-wrap: nowrap;
    }

    .summary-texts span {
        font-size: 16px;
        font-weight: 700;
        margin-right: 5px;
        margin-left: 10px;
    }

    .summary-img {
        width: 380px;
        height: auto;
    }

    /**************APP INTRO SECTION******************/

    .app-intro-container {
        width: 460px;
        margin: auto;
    }

    .app-intro-texts {
        width: 460px;
        margin: auto;

        text-align: center;
    }

    .app-intro-texts h1 {
        font-size: 56px;
        margin: 0 0 20px 0;
        text-align: center;
        line-height: 40px;
        width: 360px;
    }

    .app-intro-texts p {
        font-size: 14px;
        line-height: 20px;
        width: 360px;
    }

    .app-intro-dl-cont {
        width: 400px;
        height: 500px;
        margin: 60px auto 130px auto;
    }

    .app-intro-img {
        width: 400px;
        height: 500px;
        border-radius: 16px;
        object-fit: cover;
    }

    .app-intro-brand {
        width: 380px;
        height: 360px;

        margin: 75px auto 0 auto;
    }

    .app-intro-brand p {
        font-size: 14px;
        line-height: 20px;
        width: 380px;
    }

    /*********FOOTER******/

    .footer,
    .subfooter {
        width: 380px;
    }

    .subfooter-container {
        flex-direction: column;
    }

    .footer_section p {
        margin: 10px 0 0 0;
        font-size: 14px;
    }

    .footer_section a {
        font-size: 14px;
    }

    .footer-text,
    .footer-text-bold {
        width: 380px;
    }

    .info_section .social-box {
        width: 380px;
    }

    .info_section {
        width: 100%;
    }

    .social_container {
        width: 380px;
    }

    /******************DOWNLOAD PAGE******************/
    .download_section {
        width: 460px;
    }

    .download_section h1 {
        font-size: 76px;
        margin: 5px 0 0 0;
    }

    .download_section h2 {
        font-size: 20px;
        line-height: 18px;
    }

    .app-intro {
        width: 460px;
        height: 340px;
    }

    .app-intro-box,
    .apk-info-box,
    .apk-version-box {
        width: 360px;
    }

    .app-intro p {
        width: 360px;
    }

    .app-logo {
        width: 77px;
        height: 77px;
        margin-right: 20px;
    }

    .apk-info {
        width: 460px;
        height: 600px;
        margin: 20px auto;
        flex-wrap: wrap;
    }

    .apk-info-box {
        height: 480px;
    }

    .apk-row {
        height: 460px;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
    }

    .apk-info-table {
        width: 320px;
        height: 420px;

        padding: 0 40px 0 40px;
        margin: 0;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .apk-download-button {
        margin-left: 0;
        margin-right: auto;
    }

    .apk-version {
        width: 460px;
    }

    /****************PRIVACY POLICY PAGE****************/

    .priv-main{
        width: 400px;
      }

    .line-separator-side{
        width:400px;
    }

    .priv-texts p{
        width:380px;
    }

    .priv-title-section h4{
        font-family: 'Open Sans', sans-serif;
        font-size: 28px;
        text-align: left;
      
        line-height: 40px;
      
        margin: 75px 0 0 0;
    }

    .priv-title-section p,
    .priv-texts p{
        font-size: 14px;
        line-height: 20px;
    }

    /*****************ABOUT PETCHA PAGE******************/
    .ap-banner-section {
        margin-top: 50px;
      }

    .ap-banner-container {    
        width: 400px;
      }

    .ap-banner-texts {
        color: var(--dark-gray);
        flex-wrap: wrap;
      
        width: 400px;
      }

    .ap-banner-texts h1 {
        font-family: 'Dongle', sans-serif;
        font-size: 56px;
        margin: 0 0 10px 0;
      
        line-height: 50px;
      }

    .ap-banner-texts p {
        font-size: 14px;
      
        line-height: 20px;
      
        width: 360px;
      
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }

      .ap-banner-texts p br{
        display: none;
      }

    .ap-banner-media-bg{
        width: 400px;
        height: 480px;
        margin: 0 auto 75px auto;
      }
      
    .ap-banner-media-bg-img{
        width: 400px;
        height: 480px;
        position: absolute;

        object-fit: cover;
        object-position: 57% 50%;
      
        margin: 0;

        
        -webkit-mask: linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 10%,
        rgba(255, 255, 255, 1) 100%,
        rgba(255, 255, 255, 0) 100%
        );
      }
     
    .ap-banner-media-trailer{
        width: 356px;
        height: 200px;

        margin-top: 40px;
      
        z-index: 1;
      }

    .ap-gameplay-section-1,
    .ap-gameplay-section-2,
    .ap-gameplay-section-3{
        width: 400px;
        height: 550px;

        margin: 100px auto 125px auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ap-gameplay-texts{
        width: 320px;
        margin: 50px auto 0 auto;

        text-align: center;
        align-items: center;
      }

      .ap-gameplay-texts p{
        font-size: 14px;
        line-height: 20px;
      }

      .ap-gameplay-video{
        margin: 30px auto 50px auto;
        width: 320px;
        height: 180px;
      }

}

@media (max-width: 480px) {

    /**********HEADER NAVBAR***********/
    .header {
        width: 100%;
        height: 200px;
    }

    .nav-container {
        width: 300px;
    }

    .nav-list {
        width: 280px;
        flex-wrap: wrap;
    }

    .brand {
        width: 280px;
        margin: 0 auto;
    }

    .nav-item {
        margin: 30px 5px;
    }

    .nav-item:nth-of-type(3) {
        padding-left: 0;
    }

    .nav-item a,
    .nav-item a:visited,
    .nav-item a:link,
    .nav-item a:hover {
        font-size: 16px;
    }

    .download-button {
        width: 100px;
        height: 32px;

        margin: auto;
    }

    .button-box {
        width: 150px;
        height: 32px;
    }

    .button-text,
    .download-button a:visited,
    .download-button-center a:visited {
        font-family: 'Open Sans', sans-serif;
        color: var(--ash-white);

        font-size: 14px;
        font-weight: 700;
    }

    /**********LANDING SECTION***********/
    .landing-container,
    .landing-texts {
        width: 280px;
        margin: auto;
    }

    .landing-texts h1 {
        font-size: 54px;
        margin: 0 0 20px 0;
        text-align: center;
        line-height: 36px;
    }

    .landing-texts p {
        font-size: 14px;
        line-height: 20px;
        width: 280px;
    }

    .landing-img {
        width: 280px;
        height: 260px;
        margin: 60px auto 50px auto;
        object-fit: cover;

        -webkit-mask: linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 10%,
        rgba(255, 255, 255, 1) 90%,
        rgba(255, 255, 255, 0) 100%
        );

        border-radius: 16px;
    }

    /**********FEATURES SECTION***********/

    .features-section {
        width: 280px;
        margin: auto;

        display: flex;
        flex-direction: column;
    }

    .features-container {
        width: 280px;
        height: 540px;
        margin-bottom: 175px;

        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .features-img {
        width: 260px;
        height: auto;
        margin: 0;
    }

    .features-texts:nth-last-of-type(1),
    .features-texts:nth-last-of-type(3) {
        order: 1;
    }

    .features-texts {
        width: 260px;
        margin: 10px 0 0 0;
        align-items: center;
        text-align: center;
    }

    .features-texts h2 {
        font-size: 48px;
        margin: 18px 20px auto 20px;
        line-height: 40px;
    }

    .features-texts h3 {
        font-size: 18px;
        margin: 24px 0 0 0;
        width: 260px;
    }

    .features-texts p {
        font-size: 14px;
        margin: 24px 0 0 0;
        line-height: 20px;
    }

    /**********SUMMARY SECTION***********/
    .summary-section {
        width: 280px;
        margin: auto auto 175px auto;
    }

    .summary-container {
        width: 280px;
        height: 400px;

        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .summary-texts {
        width: 260px;
        margin-top: 20px;
        align-items: center;
        text-align: center;
        flex-wrap: nowrap;

        order: 1;
    }

    .summary-texts h3 {
        font-size: 36px;
        line-height: 24px;
    }

    .summary-texts p {
        font-size: 14px;
        margin: 24px 0 0 0;
        line-height: 20px;
        flex-wrap: nowrap;
    }

    .summary-texts span {
        font-size: 14px;
        font-weight: 700;
        margin-right: 5px;
        margin-left: 10px;
    }

    .summary-img {
        width: 260px;
        height: auto;
    }

    /**************APP INTRO SECTION******************/

    .app-intro-container {
        width: 280px;
        margin: auto;
    }

    .app-intro-texts {
        width: 260px;
        margin: auto;

        text-align: center;
    }

    .app-intro-texts h1 {
        font-size: 54px;
        margin: 0 0 20px 0;
        text-align: center;
        line-height: 36px;
        width: 260px;
    }

    .app-intro-texts p {
        font-size: 14px;
        line-height: 20px;
        width: 260px;
    }

    .app-intro-dl-cont {
        width: 280px;
        height: 360px;
        margin: 60px auto 130px auto;
    }

    .app-intro-img {
        width: 260px;
        height: 360px;
        border-radius: 16px;
        object-fit: cover;
    }

    .app-intro-brand {
        width: 260px;
        height: 280px;

        margin: 0 auto;
    }

    .app-intro-logo {
        width: 75px;
        height: auto;
    }

    .app-intro-brand h1 {
        font-size: 56px;
        margin: 10px 0 0 0;

        line-height: 40px;

        color: var(--dark-gray);
    }

    .app-intro-brand p {
        font-size: 14px;
        line-height: 20px;
        width: 200px;
        flex-wrap: wrap;
        margin-top: 0;
    }

    .download-button-center {
        width: 176px;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        margin: 20px auto;
    }

    /*********FOOTER******/

    .footer,
    .subfooter {
        width: 260px;
    }

    .footer-text,
    .footer-text-bold {
        font-size: 12.5px;
        width: 260px;
    }

    .info_section .social-box {
        width: 260px;
    }

    .info_section {
        width: 100%;
    }

    .social_container {
        width: 260px;
    }

    .subfooter-container {
        flex-direction: column;
    }

    .footer_section p {
        margin: 10px 0 0 0;
        font-size: 13px;
    }

    .footer_section a {
        font-size: 13px;
    }

    /******************DOWNLOAD PAGE******************/
    .download_section {
        width: 360px;
    }

    .download_section h1 {
        font-size: 76px;
        margin: 5px 0 0 0;
    }

    .download_section h2 {
        font-size: 20px;
        line-height: 18px;
    }

    .app-intro {
        width: 360px;
        height: 340px;
    }

    .app-intro-box,
    .apk-info-box,
    .apk-version-box {
        width: 280px;
    }

    .app-intro p {
        width: 280px;
        font-size: 14px;
    }

    .app-logo {
        width: 77px;
        height: 77px;
        margin-right: 20px;
    }

    .apk-info {
        width: 360px;
        height: 600px;
        margin: 20px auto;
        flex-wrap: wrap;
    }

    .apk-info-box {
        height: 480px;
    }

    .apk-row {
        height: 460px;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
    }

    .apk-info-table {
        width: 240px;
        height: 420px;

        padding: 0 40px 0 40px;
        margin: 0;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .apk-info-table li {
        font-size: 14px;
        display: flex;
        align-items: center;
    }

    .apk-download-button {
        margin-left: 0;
        margin-right: auto;
    }

    .apk-version {
        width: 360px;
    }

    .version-number {
        font-size: 14px;
    }

    .version-info p {
        margin-top: 5px;
    }

    /****************PRIVACY POLICY PAGE****************/

    .priv-main{
        width: 320px;
      }

    .line-separator-side{
        width:320px;
    }

    .priv-texts{
        margin: 0 0 145px 0;
      }

    .priv-texts p{
        width:300px;
    }

    .priv-title-section h4{
        font-size: 24px;
        line-height: 30px;
      
        margin: 45px 0 0 0;
    }

    .priv-texts h5{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        text-align: left;
      
        line-height: 24px;
      
        margin: 45px 0 10px 0;
      }

    .priv-title-section p,
    .priv-texts p{
        font-size: 14px;
        line-height: 20px;
    }

    /*****************ABOUT PETCHA PAGE******************/
    .ap-banner-section {
        margin-top: 50px;
      }

    .ap-banner-container {    
        width: 400px;
      }

    .ap-banner-texts {
        color: var(--dark-gray);
        flex-wrap: wrap;
      
        width: 400px;
      }

    .ap-banner-texts h1 {
        font-family: 'Dongle', sans-serif;
        font-size: 56px;
        margin: 0 0 10px 0;
      
        line-height: 50px;
      }

    .ap-banner-texts p {
        font-size: 14px;
      
        line-height: 20px;
      
        width: 320px;
      
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }

      .ap-banner-texts p br{
        display: none;
      }

    .ap-banner-media-bg{
        width: 400px;
        height: 480px;
        margin: 0 auto 75px auto;
      }
      
    .ap-banner-media-bg-img{
        width: 400px;
        height: 480px;
        position: absolute;

        object-fit: cover;
        object-position: 57% 50%;
      
        margin: 0;

        
        -webkit-mask: linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 10%,
        rgba(255, 255, 255, 1) 100%,
        rgba(255, 255, 255, 0) 100%
        );
      }
     
    .ap-banner-media-trailer{
        width: 338px;
        height: 190px;

        margin-top: 40px;
      
        z-index: 1;
      }

    .ap-gameplay-section-1,
    .ap-gameplay-section-2,
    .ap-gameplay-section-3{
        width: 340px;
        height: 550px;

        margin: 100px auto 125px auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ap-gameplay-texts{
        width: 280px;
        margin: 50px auto 0 auto;

        text-align: center;
        align-items: center;
      }

      .ap-gameplay-texts p{
        font-size: 14px;
        line-height: 20px;
      }

      .ap-gameplay-video{
        margin: 30px auto 50px auto;
        width: 300px;
        height: 169px;
      }

}